body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #334052;
    color: #212121;
}

#map {
    height: 100vh;
    width: 65%;
    float: left;
    background-color: #334052;
}

.info-box {
    width: 30%;
    height: 100vh;
    float: right;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: #334052;
    color: white;
    overflow-y: auto;
}

#info {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #333;
}

#info h4 {
    margin: 0 0 5px;
    color: #333;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Static company logo styles */
#company-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's always on top */
    text-align: center;
}

#company-logo img {
    max-width: 150px; /* Adjust the size as needed */
}

/* Smaller text for network points details */
.info-box ul li {
    font-size: 12px;
}
